___
# Ciência dos Dados - PROJETO 1

## Carla Kim Gaieski
___

## As gerações no mundo moderno

___
## Introdução

No século XX o mundo sofreu uma revolução tecnológica. Novas tecnologias foram introduzidas à nossas vidas e, de certa forma, cada vez mais nos fazemos dependente dela. Assim, as novas gerações, principalemte a Z, e parte da Y, de fachetaria mais jovem nasceram já imergidas nesse mundo tecnológico. Por isso, possuem mais afinidade e facilidade em mexer com eletrônicos, que os mais velhos. No entanto, agora, adultos e anciões estão se mordenizando mais rapidamente. Assim, há um crescente uso de eletrônicos entre os mais velhos, tanto é que existem aulas próprias para o ensino de como mexer nos equipamentos. Por outro lado, as crianças, até bebês, possuem seus próprios aparelhos digitais, que se tornou o único meio de entreterimento deles.
Com isso, irei analisar o acesso à internet entre diferentes gerações em cada unidade de federação, diferenciando, também, entre homens e mulheres.

___
## Filtros da base de dados

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Carla Kim\Downloads

In [4]:
#Se usar o arquivo descompactado
#pd.read_csv('PES2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

Criando meu data frame:

In [5]:
dados = pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

df = pd.DataFrame({'Unidade de federação' : dados.UF,
                   'O acesso à Internet foi feito através de telefone celular': dados.V061113,
                    'O acesso à Internet foi feito através de tablet': dados.V061114,
                    'O acesso à Internet foi feito através de outro equipamento eletrônico': dados.V061116,
                   'Tem telefone móvel celular para uso pessoal':dados.V06112,
                   'Sexo': dados.V0302,
                    'Idade do morador na data de referência': dados.V8005})

df.to_csv('Projeto1CDDP.csv')

Arrumando o dataframe:

In [6]:
df['Unidade de federação']= df['Unidade de federação'].astype('category')
df['Unidade de federação'].cat.categories = ('Rondônia', 'Acre',
                              'Amazonas', 'Roraima', 
                              'Pará','Amapá','Tocantins',
                              'Maranhão','Piauí','Ceará',
                            'Rio Grande do Norte','Paraíba',
                            'Pernambuco','Alagoas', 'Sergipe',
                            'Bahia','Minas Gerais','Espírito Santo',
                            'Rio de Janeiro', 'São Paulo', 'Paraná',
                            'Santa Catarina','Rio Grande do Sul',
                            'Mato Grosso do Sul', 'Mato Grosso', 'Goiás',
                            'Distrito Federal')

df['Sexo']= df['Sexo'].astype('category')
df['Sexo'].cat.categories = ('Masculino','Feminino')

df['O acesso à Internet foi feito através de telefone celular']= df['O acesso à Internet foi feito através de telefone celular'].astype('category')
df['O acesso à Internet foi feito através de telefone celular'].cat.categories = ('Sim','Não')

df['O acesso à Internet foi feito através de tablet']= df['O acesso à Internet foi feito através de tablet'].astype('category')
df['O acesso à Internet foi feito através de tablet'].cat.categories = ('Sim','Não')

df['O acesso à Internet foi feito através de outro equipamento eletrônico']= df['O acesso à Internet foi feito através de outro equipamento eletrônico'].astype('category')
df['O acesso à Internet foi feito através de outro equipamento eletrônico'].cat.categories = ('Sim','Não')

df['Tem telefone móvel celular para uso pessoal']= df['Tem telefone móvel celular para uso pessoal'].astype('category')
df['Tem telefone móvel celular para uso pessoal'].cat.categories = ('Sim','Não')


df.dropna().head()

,Idade do morador na data de referência,O acesso à Internet foi feito através de outro equipamento eletrônico,O acesso à Internet foi feito através de tablet,O acesso à Internet foi feito através de telefone celular,Sexo,Tem telefone móvel celular para uso pessoal,Unidade de federação
0,23,Não,Não,Sim,Masculino,Sim,Rondônia
1,23,Não,Não,Sim,Feminino,Sim,Rondônia
2,35,Não,Não,Sim,Feminino,Sim,Rondônia
3,34,Não,Não,Sim,Masculino,Sim,Rondônia
4,11,Não,Não,Não,Feminino,Sim,Rondônia

___
## Análise e Resultados

Aqui estou expondo os valores absolutos, para poder exergar melhor a situação de meus dados

In [7]:
df['O acesso à Internet foi feito através de telefone celular'].value_counts(True)*100

Sim    88.014651
Não    11.985349
Name: O acesso à Internet foi feito através de telefone celular, dtype: float64

In [8]:
df['O acesso à Internet foi feito através de tablet'].value_counts(True)*100

Não    85.018865
Sim    14.981135
Name: O acesso à Internet foi feito através de tablet, dtype: float64

In [9]:
df['Sexo'].value_counts(True)*100

Feminino     51.4651
Masculino    48.5349
Name: Sexo, dtype: float64

In [10]:
df['Tem telefone móvel celular para uso pessoal'].value_counts(True)*100

Sim    78.88684
Não    21.11316
Name: Tem telefone móvel celular para uso pessoal, dtype: float64

In [11]:
#df['Unidade de federação'].value_counts(True)*100

In [15]:
#df['Idade do morador na data de referência'].value_counts(True)*100

In [13]:
ct = pd.crosstab(df['Unidade de federação'], df['Tem telefone móvel celular para uso pessoal'])
ct

Tem telefone móvel celular para uso pessoal    Sim   Não
Unidade de federação
Rondônia                                      4207  1338
Acre                                          2571  1147
Amazonas                                      6808  3074
Roraima                                       1523   512
Pará                                         13290  5697
Amapá                                         1722   650
Tocantins                                     3923  1170
Maranhão                                      4116  3407
Piauí                                         3329  1535
Ceará                                        11068  4291
Rio Grande do Norte                           3185  1027
Paraíba                                       4030  1247
Pernambuco                                   14581  4005
Alagoas                                       3045  1483
Sergipe                                       4001  1239
Bahia                                        17098  5511
Minas Gerais                                 23518  5455
Espírito Santo                                4636  1080
Rio de Janeiro                               18985  3861
São Paulo                                    29533  5661
Paraná                                       13347  2960
Santa Catarina                                6841  1600
Rio Grande do Sul                            20167  3079
Mato Grosso do Sul                            4482   687
Mato Grosso                                   5262  1055
Goiás                                        11023  1652
Distrito Federal                              7153   732

Criando faixa-etárias para classificar a sociedade de acordo com a idade:

In [25]:
def faixasidade(df):
    x=df['V8005']
    if x<10: return 1
    elif x<=21: return 2
    elif x<60: return 3
    elif x>=60: return 4
    return 5
faixas=dados.apply(faixasidade,axis=1)
df['faixas']=faixas
df.faixas=df.faixas.astype('category')
df.faixas.cat.categories=(['Crianças','Jovens','Adultos','Idosos'])

In [26]:
df.head()

,Idade do morador na data de referência,O acesso à Internet foi feito através de outro equipamento eletrônico,O acesso à Internet foi feito através de tablet,O acesso à Internet foi feito através de telefone celular,Sexo,Tem telefone móvel celular para uso pessoal,Unidade de federação,faixas
0,23,Não,Não,Sim,Masculino,Sim,Rondônia,Adultos
1,23,Não,Não,Sim,Feminino,Sim,Rondônia,Adultos
2,35,Não,Não,Sim,Feminino,Sim,Rondônia,Adultos
3,34,Não,Não,Sim,Masculino,Sim,Rondônia,Adultos
4,11,Não,Não,Não,Feminino,Sim,Rondônia,Jovens

In [32]:
ct = pd.crosstab(df['faixas'], df['Sexo'])
ct

Sexo      Masculino  Feminino
faixas
Crianças      24804     23501
Jovens        36289     34408
Adultos       90440     98242
Idosos        21690     27530

___
## Conclusão

Descreva aqui suas conclusões!